---
layout: default
---

<div class="well">
  <h4 style="margin-top:0px;">Welcome</h2>
<p style="text-align: justify">CHIentist is a grassroots initiative that seeks to create a sense of community and build new connections among life scientists and professionals in the Chicago area. <a href="/about/" type="button" class="btn btn-xs btn-primary">Learn More!</a></p>
</div>
<h2>News &amp; Updates</h2>
 {% for post in site.posts %}
 <h3>{{ post.title }}</h3>

{% if post.categories contains "event" %}

<ul>
  <li><strong>Date:</strong> {{ post.date_of_event | date: "%b %-d, %Y" }}</li>
  <li><strong>Time:</strong> {{ post.time_of_event }}</li>
  <li><strong>Location:</strong> {{ post.location }}</li>
</ul>

{% endif %}

 {{ post.content }}

 {% endfor %}