---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

{% if page.categories contains "event" %}

<ul>
	<li><strong>Date:</strong> {{ page.date_of_event | date: "%b %-d, %Y" }}</li>
	<li><strong>Time:</strong> {{ page.time_of_event }}</li>
	<li><strong>Location:</strong> {{ page.location }}</li>
</ul>

{% endif %}

  <article class="post-content">
    {{ content }}
  </article>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2JJWQE9NW6UDL">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
